.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
  }
  
  .navbar-brand a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.5rem;
  }
  
  .navbar-nav {
    font-size: 1.3rem;
    display: flex;
    list-style: none;
    margin: 15px;
    padding: 0px;
  }
  
  .nav-item {
    margin-left: 10px;
    margin-right: 30px;
    padding: 8px;
    
  }
  
  .nav-item a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-item a:hover {
    color: #ccc;
  }

  .nav-search {
    display: flex;
    align-items: center;
}

.nav-search input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px 0 0 4px;
    font-size: 1rem;
    background-color: #444;
    color: #fff;
}

.nav-search input[type="text"]::placeholder {
    color: #ccc;
}

.nav-search button {
    padding: 8px 12px;
    border: none;
    border-radius: 0 4px 4px 0;
    background-color: #555;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-search button:hover {
    background-color: #666;
}